main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
}

.ark {
    width: 75%;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 40px;
    background-color: whitesmoke;
    border-radius: 3px;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

.center-text {
    width: 80%;
    align-self: center;
}

.center-text p {
    line-height: 28px;
    font-size: 18px;
}

.column {
    width: 80%;
    align-self: center;
    margin-top: 50px;

    font-size: 18px;
    line-height: 26px;

    display: flex;
    flex-direction: column;
}

.column h3 {
    align-self: center;
}

.row {
    align-self: center;
    width: 80%;
    margin-top: 50px;

    font-size: 18px;

    display: flex;
    flex-direction: row;
}

.row article {
    display: flex;
    flex-direction: column;
    line-height: 26px;
    
    padding: 5px;
}

.row article h3 {
    margin-top: 2px;
    margin-bottom: 2px;
    align-self: center;
}

.image {
    border: 1px solid #b6b6b6;
}

.image img {
    width: 300px;
    height: 200px;
}

.image p {
    margin-top: 3px;
}

.right {
    margin-left: auto;
    
}



@media screen and (max-width: 900px)
{
    .ark {
        width: 100%;
    }

    .row {
        flex-direction: column;
    }

    .right {
        margin-right: auto;
    }

    @media screen and (max-width: 400px)
    {
        
    }
}

