.dropdown-button {
    width: 50px;
    height: 50px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: 20px;

    cursor: pointer;
}

.dropdown-container {
    display: none;
    flex-direction: column;

    position: fixed;
    top: 80px;
    right: 0;
    height: 100vh;

    padding: 50px;
    padding-top: 30px;

    background-color: rgb(49, 49, 49);
}

.dropdown-container a {
    text-decoration: none;
    color: white;
    font-weight: 200;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 100;

    margin: 10px;
    padding: 15px;
}

.dropdown-container a:hover {
    text-decoration: underline;
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
}

.dropdown-container .separator
{
    align-self: center;
    justify-self: center;
    width: 90%;
    border-top: 1px solid #5a5a5a;
}

.dropdown-container .closenav {
    display: none;
    position: fixed;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.dropdown-container .closenav img {
    width: 20px;
    height: 20px;
}

@media screen and (max-height: 500px)
{
    .dropdown-container {
        align-self: center;
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0px;
        padding: 0px;
    }

    .dropdown-container .top-link {
        margin-top: 20px;
    }

    .dropdown-container .closenav {
        display: block;
    }

    .dropdown-container a {
        align-self: center;
    }

    .dropdown-container .separator {
        max-width: 100px;
        align-self: center;
    }

    @media screen and (max-height: 400px)
    {
        .dropdown-container .top-link {
            margin-top: 10px;
        }   
        .dropdown-container a {
            align-self: center;
            padding: 10px;
        }
    }
}
